# Visual Studio
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/

# Visual Studio cache/options
.vs/



# Build folders
bin/
obj/
.build/

# NuGet
*.nupkg
*.snupkg
*.nuget.props
*.nuget.targets
.nuget/


